
<div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
    <span class="sr-only">Success:</span>
    Thanks for contacting! You will hear back soon.
</div>
